/*
  Student Name: Diana Ruiz Garcia
  File Name: CSS
  Date:  11/25/2023
*/

/* CSS Reset style rule */
body, header, nav, main, footer, img, h1, h3, ul, td {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color: #EDEBEB;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for navigation area */
nav {
    background-color: white;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: 'Edu SA Beginner', cursive;
    border-top: 0.5px solid black;
}

nav li a {
    display: block;
    color: black;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav li a:hover {
    background-color: #e3e3e3
}

#bioName {
    display: block;
    color: black;
    padding: 0.5em 2em;
    font-size: 1.25em;
    text-decoration: none;
}

#bioName:hover {
    background-color: #e3e3e3;
}

/* Style rules for main content */
.imgCards {
    width: 100%;
    height: 50%;
    padding-top: 20px;
    border-radius: 5px;
}

.imgAbout {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
}

.card {
    background-color: white;
    padding: 10px 30px;
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    border: 0.5px solid lightgray;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.about-mob {
    padding: 0 20px;
}

.titleCard {
    font-size: 1.25em;
}

.lastCard {
    background-color: white;
    padding: 10px 30px;
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    text-align: justify;
}

.listConcerts {
    margin-left: 20px;
}

.mobile li {
    padding: 20px;
}

.grid {
    padding: 20px;
}

.hobbyTitle {
    text-align: center;
}

.aboutTitle {
    text-align: center;
    font-size: 1.25em;
    font-family: 'Dosis', sans-serif;
    font-style: bold;
}

hr {
    border: #EDEBEB;
}

* {
    box-sizing: border-box;
}

tr:nth-child(even) {
    background-color: #E3EBFA;
}

.mobile li:nth-child(even) {
    background-color: #E3EBFA;
}

aside {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

figure {
    border: 0.5px solid lightgray;
    font-family: 'Dosis', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 400px;
    margin: 2% auto;
  }
  
figcaption {
    padding: 2%;
    border-top: 0.5px solid lightgray;
    background-color: white;
    font-family: 'Dosis', sans-serif;
    text-align: justify;
}

/* CSS Pseudo classes and elements not covered in the course’s textbook */
::selection {
    color: white;
    background: lightgray;;
}

p.textCard::first-letter {
    font-style: bold;
    font-size: xx-large;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    font-family: 'Edu SA Beginner', cursive;
    background-color: black;
    color: white;
    padding: 1% 0%;
}
  
footer a {
    color: #e3e3e3;
    text-decoration: none;
}

/* Style rules for mobile viewport */


/* Style rules to show mobile class and hide tab-desk class*/
.mobile {
    display: block;
}

.tab-desk {
    display: none;
}
  
/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px) {
    /* Tablet Viewport: Styles for nav area */
    nav li {
      border-top: none;
      display: inline-block;
      font-size: 1.25em;
    }
  
    nav li a {
      padding: 0.5em;
    }

  }
  /* Media Query for Large Desktop Viewports */
  @media screen and (min-width: 1921px) {
    body {
      background: linear-gradient(#e8e8e8, #a19f9f);
    }
  
    #wrapper {
      width: 1920px;
      margin: 0 auto;
    }
  
    main {
      background-color: #EDEBEB;
    }
  }
  /*Media Query for Print */
  @media print {
    body {
      background-color: white;
      color: black;
    }
  }
  
  /* Media Query for Desktop Viewport */
  @media screen and (min-width: 1000px) {
    /* Style rules to hide mobile class and show tab-desk class*/
    .mobile {
        display: none;
    }
    
    .tab-desk {
        display: block;
    }

    /* Desktop Viewport: Style rules for nav area */
    nav {
        border-bottom: 2px solid #e8e8e8;
    }
  
    nav li a {
      padding: 0.5em 1.5em;
      font-size: 1.15em;
    }

    nav ul {
        text-align: left;
    }
  
    nav li a :hover {
      color: #2a1f14;
      background-color: #f6eee4;
    }

    #bioName {
        font-size: 1.25em;
    }
  
    /* Desktop Viewport: Style rules for main content */
    .card {
        padding: 50px;
        margin: 50px;
        font-size: 1.25em;
    }
    
    .lastCard {
        padding: 50px;
        font-size: 1.25em;
    }

    .card {
        font-size: 1.25em;
    }
  
    .titleCard {
        font-size: 1.5em;
    }

    .aboutTitle {
        font-size: 1.8em;
    }

    .imgAbout {
        padding: 50px;
        border-radius: 60px;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 30px;
        padding: 30px;
    }  
    
    aside {
        grid-column: 1 / span 3;
        font-size: 2em;
    }
}